<a href="https://colab.research.google.com/github/PIRAticaSeeker/PIRAticaSeeker/blob/PIRAticaSeeker-patch-1/end_to_ed_projec50.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('/content/CAR DETAILS FROM CAR DEKHO (1).csv')
df

                                     name  year  ...  transmission         owner
0                           Maruti 800 AC  2007  ...        Manual   First Owner
1                Maruti Wagon R LXI Minor  2007  ...        Manual   First Owner
2                    Hyundai Verna 1.6 SX  2012  ...        Manual   First Owner
3                  Datsun RediGO T Option  2017  ...        Manual   First Owner
4                   Honda Amaze VX i-DTEC  2014  ...        Manual  Second Owner
...                                   ...   ...  ...           ...           ...
4335  Hyundai i20 Magna 1.4 CRDi (Diesel)  2014  ...        Manual  Second Owner
4336           Hyundai i20 Magna 1.4 CRDi  2014  ...        Manual  Second Owner
4337                  Maruti 800 AC BSIII  2009  ...        Manual  Second Owner
4338     Hyundai Creta 1.6 CRDi SX Option  2016  ...        Manual   First Owner
4339                     Renault KWID RXT  2016  ...        Manual   First Owner

[4340 rows x 8 columns]

In [ ]:
df.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [ ]:
df.shape

(4340, 8)

In [ ]:
df.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [ ]:
df.describe()

              year  selling_price      km_driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [ ]:
df['fuel'].unique()

array(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'], dtype=object)

In [ ]:
df['seller_type'].unique()

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [ ]:
df=df.drop('name',axis=1)

In [ ]:
df.head()

In [ ]:
df['current_year']=2021
df.head()

   year  selling_price  km_driven  ... transmission         owner current_year
0  2007          60000      70000  ...       Manual   First Owner         2021
1  2007         135000      50000  ...       Manual   First Owner         2021
2  2012         600000     100000  ...       Manual   First Owner         2021
3  2017         250000      46000  ...       Manual   First Owner         2021
4  2014         450000     141000  ...       Manual  Second Owner         2021

[5 rows x 8 columns]

In [ ]:
df['no_year']=df['current_year']-df['year']
df.head()

   year  selling_price  km_driven  ...         owner current_year no_year
0  2007          60000      70000  ...   First Owner         2021      14
1  2007         135000      50000  ...   First Owner         2021      14
2  2012         600000     100000  ...   First Owner         2021       9
3  2017         250000      46000  ...   First Owner         2021       4
4  2014         450000     141000  ...  Second Owner         2021       7

[5 rows x 9 columns]

In [ ]:
df['year']

TypeError: ignored

In [ ]:
df=df.drop('year',axis=1,inplace=True)
df.head()

AttributeError: ignored

In [ ]:
final_df=pd.get_dummies(df,drop_first=True)

TypeError: ignored

In [ ]:
final_df.corr()

NameError: ignored

In [ ]:
final_df.drop('current_year',axis=1,inplace=True)
final_df.corr()

NameError: ignored

In [ ]:
import seaborn as sns
corr=final_df.corr()
sns.heatmap(corr,annot=True)

NameError: ignored